.headerContainer {
  width: 100%;
  background-color: white;
  transition: background-color 3s;
}

.headerContainer:hover {
  background-color: rgb(247, 243, 235);
}

.quote {
  display: block;
  text-align: center;
  font-style: italic;
  color: #c93530;
  margin: 0 auto;
  position: relative;
  font-size: 25px;
  padding-top: 19px;
  transition: font-size 2s, color 2s;
  transition-timing-function: linear;
}

.quote:hover {
  font-size: 27px;
  color: #cf221c;
}

.divicons {
  padding: 40px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.himg {
  width: 148px;
  height: 148px;
  padding: 5px;
  transition: width 1s, height 1s;
}

.himg:hover {
  width: 155px;
  height: 152px;
}

.imgDiv {
  text-align: center;
}
