.bimg {
  width: 100%;
  height: 450px;
}

.testimonialImg img {
  margin: 0 auto;
  border-radius: 50px;
}

.testimonialImg {
  text-align: center;
}

.testimonialText {
  padding-top: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: font-size 0.5s, color 0.5s;
}

.testimonialText:hover {
  font-size: 23px;
  color: white;
}
