.testimonialImg img {
  height: 110px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50px;
}

.testimonialImg {
  text-align: center;
}

.testimonialText p {
  padding-top: 20px;
  color: #f2f2f2;
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
}

.testimonialsWrapper {
  padding: 20px 0px;
}
